body, html {
    width: 100vw;
}

header {
    text-align: center;
}

#action-log {
    position: absolute;
    text-align: center;
    left: 30%;
    display: none;
    height: 200px;
    width: 300px;
    border: 4px red solid;
}
img:hover {
    opacity: .8;
    transition: .5;
    border: 3px black solid;
}

.fighter-box{
    background-color: lightsteelblue;
}